.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  align-content: center;
}

.gallery-container {
  text-align: center;
  margin-top: 60px;
}

.modal-content {
  max-width: 80%;
  max-height: 70vh;
  border-radius: 12px;
}

.closeBtn {
  position: absolute;
  right: 25px; top: 20px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.gallery-nav {
  position: initial;
  width: auto;
  bottom: 20%;
  display: flex;
  justify-content: space-around;
  padding: 0 40px;
}

.nav-btn {
  background: rgba(255,255,255,0.4);
  border: none;
  padding: 12px 20px;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
  backdrop-filter: blur(5px);
}

#galleryCaption {
  text-align: center;
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
}
