/*ADDED ON-SCREEN ANNOTATION*/
/*.screenAnnotation {
  background-color: #888888;
  position: absolute;
  transform: translate(10px, 100px);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 10px;
  top: 50%;
  width: max-content;
}
*/
.annotation-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* so model still receive mouse drag */
  
  display: flex;
  flex-direction: column;
  align-items: center; /* THIS centers all annotations horizontally */
  justify-content: flex-start;
}

.annotation {
  pointer-events: auto;
  transform: translateY(100px); /* SAME Y offset for all */
}
